@import "~bootstrap/dist/css/bootstrap.min.css";

#naipe {
  width: 420px;
  height: 640px;
  display: flex;
  flex-direction: column;
  font-size: 100%;
  background-color: white;
  border-radius: 4%;
  margin: 0 auto;
}

#numero {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

#textoNumero {
  font-size: calc(6vh + 6vw);
  margin: 0;
}

#paloAbajo {
  transform: rotate(180deg);
}

#paloArriba img,
#paloAbajo img {
  max-height: 60%;
  max-width: 60%;
  height: auto;
  width: auto;
}

#controlsContainer {
  width: 100%;
}

#widthRange {
  width: 300px;
}

#heightRangeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 20px;
  height: 100%;
  transform: rotate(90deg);
}

#heightRange {
  width: 300px;
  margin: 0;
}
